:root{
    --yellow: #f0e800;
    --marron: #46452e;
    --black: #33332b;
    --grey: rgba(240, 240, 240, 0.616);
    --grey-white:rgb(204, 204, 204);
    --white: #ffffff;

    --jaune-fonce: #f0c711;
    --jaune-clair: #e6f061;
    --rose: #f011cc;
    --voliet: #ba22f0;
    --marron-clair: #959b3e;
    --marron-fonce: #706740;

    --color1: #d4552a;
}


@font-face {
    font-family: 'Playfair';
    src: url('../assets/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Poppins-light';
    src: url('../assets/fonts/Poppins-ExtraLight.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Regular.ttf');
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--white);
}

body::-webkit-scrollbar{
    width:0.75em;
}
body::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: rgba(138, 138, 138, 0.664);
}
body::-webkit-scrollbar-track{
    background-color: rgba(136, 136, 136, 0.363);
}


/*   ================================================================================================================   */
.main-accueil{
    width: 100%;    
    overflow-x: hidden;
    margin-top: 5em;
}



/*  ================================================================================================================    */
